<li>
  <a routerLink="/people/{{ person().id }}">
    <div class="container">
      <div class="portfolio">
        <span class="circle-text"></span>
        <div class="person-info">
          <span class="name">{{ person().name }}</span>
          <span class="relationship">{{ person().relationshipType | relationshipLabel}}</span>
        </div>
      </div>

      <div class="right">
        <div class="contact">
          <span [class]="contactSummary().className">{{ contactSummary().text }}</span>
          @if (person().lastContactDate; as lastContactDate) {
            <span class="last-contacted">{{ lastContactDate }}</span>
          }
        </div>

        @if (showControls()) {
          <button type="button" (click)="onLogContact($event)">
            <span>+</span>
            Log
          </button>
        }

        <app-chevron-right-icon class="chevron" />
      </div>
    </div>
  </a>
</li>
