<div>
  <span>
    <a routerLink="">Silah</a>
  </span>
  <ul>
    @for (route of routes; track $index) {
      @if (route.data && !route.redirectTo && route.path !== '**') {
        <li>
          <a
            [class.selected]="
              currentRouteUrl === '/' + route.path || currentRouteUrl.startsWith('/' + route.path + '/')
            "
            [routerLink]="route.path"
          >
            {{ route.data!['navLabel'] }}
          </a>
        </li>
      }
    }
  </ul>
  <button routerLink="/people/new">
    <span>+</span>
    Add Person
  </button>
</div>
