<main class="main">
  <h1>{{ title }}</h1>
  <h2>{{ description }}</h2>

  <section>
    <h3>Angular Architecture:</h3>
    <p>Angular has four parts:</p>
    <ol>
      <li><b>Components</b>: resuable UI elements bundled using TS, CSS & HTML</li>
      <li><b>Services</b>: resuable logic shared between components</li>
      <li><b>Modules</b>: a group of related components & services</li>
      <li><b>Templates</b>: HTML templaets with special Angular syntax</li>
    </ol>
  </section>

  <section>
    <h3>Components</h3>
    <p>Components in Angular have three parts:</p>
    <ol>
      <li>HTML Template</li>
      <li>CSS Styles</li>
      <li>TypeScript Component Class delcared with `Component` decorator</li>
    </ol>
    <span>Note: templates and styles can be either inline or external using a file URL</span>
  </section>
</main>