<h2>Overview</h2>

<div class="indicators">
  <app-indicator label="People Tracked" [count]="12" />
  <app-indicator label="Need Attention" [count]="7" />
  <app-indicator label="Up To Date" [count]="3" />
</div>

<section>
  <h4>Status Breakdown</h4>
  <app-status-breakdown />
</section>

<section>
  <div class="needs-attention-title">
    <h4>Needs Attention</h4>
    <a href="">See all in people</a>
  </div>

  <app-needs-attention />
</section>

<section>
  <h4>By Relationship</h4>
  <app-by-relationship />
</section>
