<h2>Overview</h2>

<div class="indicators">
  @if (indicators(); as indicators) {
    <app-indicator label="People Tracked" [count]="indicators.peopleTracked" />
    <app-indicator label="Need Attention" [count]="indicators.needAttention" />
    <app-indicator label="Up To Date" [count]="indicators.upToDate" />
  } @else {
    <p>Loading...</p>
  }
</div>

<section>
  <h4>Status Breakdown</h4>
  @if (statusBreakdown(); as statusBreakdown) {
    <app-status-breakdown [countPerStatus]="statusBreakdown" />
  } @else {
    <p>Loading...</p>
  }
</section>

<section>
  <div class="needs-attention-title">
    <h4>Needs Attention</h4>
    <a href="">See all in people</a>
  </div>

  @if (needAttention(); as needAttention) {
    <app-needs-attention [peopleNeedAttention]="needAttention" />
  } @else {
    <p>Loading...</p>
  }
</section>

<section>
  <h4>By Relationship</h4>
  @if (countPerRelationship(); as countPerRelationship) {
    <app-by-relationship [countPerRelationship]="countPerRelationship" />
  } @else {
    <p>Loading...</p>
  }
</section>
